<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="./chat.css"/>
    <script src="./chat.js"></script>
</head>
<body>
    <div id="login-container" class="container">
        <div class="input-row">
            <label for="usename">Username</label>
            <input id="username" name="usename" />
        </div>
        <button id="login-button" >Login</button>
    </div>
    <div id="chat-container" class="chat-container hidden">
        <div id="chat">

        </div>
        <div>
            <div>
                <span id="username-indicator">empty</span>
                <input id="chatbox" /> 
                <button id="chat-submit" >send</button>
            </div>
        </div>
    </div>

</body>
</html>